<h1>Logo</h1>


<h1>Email your mom! Love your mom!</h1>
<p>This is some sweet shit</p>
<p>This is some sweet shit</p>

<ol>
  <li>Stuff</li>
  <li>Stuff</li>
  <li>Stuff</li>
</ol>

<h2>That's it!</h2>


<%= link_to "Show me", nil, :id => "js-show-me" %>



<%= render :partial => "questions" %>

<%= render :partial => "thanks" %>
