<div class="row">
  <div class="span4">
    <h1>Email your mom!</h1>
    <h1>Love your mom!</h1>
    <p class="tout">Remembering to call and email your mom is hard - even we forget to do it. Luckily, we have a solution.</p>
    <p class="tout">We’ll email you and remind you. It’s quick, easy and super efficient. Let us help you make your mom feel loved. ;)</p>
  </div>

  <div class="span4">
    <ol>
      <li>
        <h1>1</h1>
        <p>Give us email addresses for you and your mom.</p>
      </li>
      <li>
        <h1>2</h1>
        <p>Fill in our mad-libs emails to establish potential email possibilities.</p>
      </li>
      <li>
        <h1>3</h1>
        <p>Tell us how often we should send your mother emails!</p>
      </li>
    </ol>
    <h1>That's it!</h1>
  </div>
</div>



<%= render :partial => "questions" %>

<%= render :partial => "thanks" %>
