<div class="row">
  <div class="span4">
    <h1>Email your mom!</h1>
    <h1>Love your mom!</h1>
    <p>Bacon ipsum dolor sit amet andouille jowl brisket filet mignon tongue fatback leberkas spare ribs. Meatloaf salami filet mignon, short ribs pastrami sirloin andouille. Brisket filet mignon leberkas frankfurter. Beef rump hamburger leberkas biltong shank.</p>
    <p>Ham sirloin tail ribeye bresaola pork chop. Leberkas tongue ham ground round ball tip bresaola pork chop shoulder turducken. Ribeye chuck turducken chicken capicola drumstick pork chop pork frankfurter meatloaf bresaola tri-tip. Prosciutto turkey venison bresaola shoulder, meatloaf boudin fatback ham ribeye tail short loin kielbasa capicola spare ribs.</p>
  </div>

  <div class="span4">
    <ol>
      <li>
        <h1>1</h1>
        <p>Bacon ipsum dolor sit amet andouille jowl brisket filet mignon tongue fatback leberkas spare ribs.</p>
      </li>
      <li>
        <h1>2</h1>
        <p>Bacon ipsum dolor sit amet andouille jowl brisket filet mignon tongue fatback leberkas spare ribs.</p>
      </li>
      <li>
        <h1>3</h1>
        <p>Bacon ipsum dolor sit amet andouille jowl brisket filet mignon tongue fatback leberkas spare ribs.</p>
      </li>
    </ol>
    <h1>That's it!</h1>
  </div>
</div>



<%= render :partial => "questions" %>

<%= render :partial => "thanks" %>
