<div class="row">
  <div class="span4">
    <h1>Email your mom!</h1>
    <h2>Love your mom!</h2>
    <p></p>
    <p>This is some sweet shit</p>
  </div>

  <div class="span4">
    <ol>
      <li>Stuff</li>
      <li>Stuff</li>
      <li>Stuff</li>
    </ol>
    <h2>That's it!</h2>
  </div>

</div>

<div class="row">
  <div class="span8">
    <%= link_to "Show me", nil, :id => "js-show-me" %>
  <div>
</div>



<%= render :partial => "questions" %>

<%= render :partial => "thanks" %>
